:root {
    --bg: #11273f;
    --sky: #00ccff;
    --green: #00ff15;
    --font: 'Mountains of Christmas', cursive;
  }
  
  html {
    font-size: 20px;
  }
  
  body {
    background-color: var(--bg);
    font-family: var(--font);
    padding: 10rem 0;
    text-align: center;
    color: rgb(255, 230, 0);
  }
  
  h1 {
    font-size: 3vw;
  }
  
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-size: 8rem;
    line-height: 8rem;
  }
  
  p {
    font-size: 2.8rem;
  }
  
  .countdown {
    display: flex;
    gap: 40px;
    justify-content: center;
  }